{{ define "title" }}{{ .Title }} | {{ .Site.Title }}{{ end }}

{{ define "main" }}
<article class="phb" id="p1">
  <h1 style="column-span:all;-webkit-column-span:all;-moz-column-span:all;text-align:center;font-family:'BookSanity',serif;font-size:2.2em;color:#58180D;margin-top:100px;">{{ .Title }}</h1>
  {{ if not .Date.IsZero }}
  <p style="text-align:center;color:#58180D;font-style:italic;font-size:0.9em;">Penned on {{ .Date.Format "January 2, 2006" }}</p>
  {{ end }}
  <hr style="visibility:hidden;">
  <hr style="visibility:hidden;">

  <div style="margin-top:20px;">
    {{ .Content }}
  </div>

  <div class="footnote">{{ .Title }}</div>
  <div class="pageNumber">1</div>
</article>
{{ end }}
